{
  "open-weather-map": {
    "api-key": "key-value",
    "coordinates-url": "your-google-project/weather?lat={lat}&lon={lng}&APPID={appid}",
    "city-url": "your-google-project/weather?q={city}&APPID={appid}"
  }
}